@value fg: rgb(238, 240, 240);
@value bg: rgb(38, 50, 56);
@value primary: rgb(90, 251, 213);
@value secondary: rgb(92, 115, 197);

:root {
  --fg:        rgb(238, 240, 240);
  --primary:   rgb(90, 251, 213);
  --secondary: rgb(92, 115, 197);

  --bg:      rgb(38, 50, 56);
  --bgDark:  color(var(--bg) l(-10%));
  --bgFaded: color(var(--bg) a(0.12));
}

:global html {
  background: var(--bg);
  color: var(--fg);
  position: relative;
  min-height: 100%;
}

:global(svg) {
  fill: currentColor;
}

:global(a) {
  color: var(--secondary);
}
