@value fg: rgb(238, 240, 240);
@value bg: rgb(38, 50, 56);
@value primary: rgb(90, 251, 213);
@value secondary: rgb(92, 115, 197);

:root {
  --fg:        rgb(238, 240, 240);
  --primary:   rgb(90, 251, 213);
  --secondary: rgb(92, 115, 197);

  --bg:      rgb(38, 50, 56);
  --bgDark:  color(var(--bg) l(-10%));
  --bgFaded: color(var(--bg) a(0.12));
}

:global html {
  background: var(--bgDark);
  color: var(--fg);
  position: relative;
  min-height: 100%;
  padding: 0.25em;
}

:global body {
  background: var(--bg);
}

:global svg {
  fill: currentColor;
}

:global a {
  color: var(--primary);
}

:global h1 {
  font-weight: 100;
}
:global h2 {
  font-weight: 300;
}
:global h3 {
  font-weight: 600;
}

:global hr {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  height: 0.15em;
  border-radius: 2px;
}
