---
---
@import 'node_modules/nib/index.styl'
@import 'node_modules/jeet/stylus/jeet/index.styl'
@import 'node_modules/rupture/rupture/index.styl'

global-reset()

*
  box-sizing border-box

// @import '_stylus/base'
// @import '_stylus/type'
// @import '_stylus/base'

color-1 = #FE4A43
color-2 = #50E3C2
color-3 = #FDB386
color-4 = #13FD86
color-5 = #0039FF
color-6 = #9139FF

color-dark =  #444444
color-light = #6E6E6E
color-xlight = #AAAAAA
color-white = #FFFFFF

color-bright = color-1

color-twitter = #55ACEE
color-github = #F6CBB5
color-dribbble = #E9508A

font-body = "jaf-facitweb", "Facit", "Helvetica Neue", "Helvetica", sans-serif
font-mono = "Input Mono", "Fira Mono", "Menlo", "Inconsolata", monospace

font-xheavy = 700
font-heavy = 600
font-light = 300
font-xlight = 200


html
  // 
body
  font 1em/1.5 font-body
  background color-white
  color color-light
  +retina()
    font-weight font-light

.container
  max-width 55em
  margin 0 auto

.wrapH
  padding-left 2em
  padding-right @padding-left
.wrapV
  padding-top 2em
  padding-bottom @padding-top

pre
  font-family font-mono

a
  color color-bright
  fill @color
  text-decoration none
  transition color 200ms ease-out
a:hover
  color color-dark
  fill @color

strong
  font-weight font-heavy
  color color-dark

svg
  width 100%
  height 100%

.header
  cf()
  border-bottom 1px solid color-xlight
  padding-bottom 2em
  margin-bottom 2em
.headerLogo
  col(1/4)
.headerLogo-link
  height 3em
  width @height * 1.270833333
  padding 0.4em
  display block

.headerNav
  col(1/4)
.headerNav-link
  display block
  color color-bright
.headerNav-link.is-active
  font-weight font-heavy
.headerDesc
  col(1/2)
+below(40em)
  .headerLogo
    col(1/1)
    margin-bottom 1em
  .headerNav
    col(1/1)
    margin-bottom 1em
  .headerNav-link
    display inline-block
    margin-right 0.5em
  .headerDesc
    col(1/1)

.postList
  padding-top 1em
.postList > li
  cf()
  margin-bottom 3em
.postLink
  display inline
.postTitle
  font-weight font-heavy
  display inline
.postMeta
  // 
.postMeta-date
  display inline-block
  font-weight font-xlight
  color color-xlight
.postMeta-excerpt
  font-weight light
+above(40em)
  .postLink
    col(1/2)
    text-align right
  .postTitle
    display block
  .postMeta
    col(1/2)

.post
  padding-bottom 2em
  margin-bottom 2em
  cf()
.post-header
  // col(1/4)
.post-title
  font-weight font-xheavy
  color color-dark
.post-meta
  color color-xlight
.post-permalink
  display inline-block
  margin-bottom 1em
.post-content
  color color-dark
.post-content p
  margin-bottom 1em
.post-content h1
  // 
.post-content h2
  margin-bottom 1em
  font-weight font-heavy
.post-content h2:before
.post-content h3:before
  position relative
  content "—"
  display block
  color color-xlight
.post-content h2
  font-weight font-heavy
  color color-xlight
.post-content h3
  // 
.post-content img
  span(1/1)
.post-content aside
  // 
.post-content pre
  max-width 100%
  overflow auto
+above(38em)
  .post
    cf()
  .post-header
    col(1/4)
  .post-content
    col(3/4)
  .post-content img
    span(1.33333)
    shift(-0.33333)

.pagination
  margin 2em 0
  color color-xlight
  text-align center
.pagination a
  // 
.pagination-number
  display inline-block
  margin 0 2em
.pagination-prev
  // float left
.pagination-next
  // float right

.footer
  border-top 1px solid color-xlight
  padding-top 2em
.footer-links
  cf()
  margin-bottom 1em
  list-style square
.footer-links li
  col(1/2, cycle: 2)
.footer-links li:before
  content none 
.footer-links li.is-twitter
  color color-twitter
.footer-links li.is-github
  color color-github
.footer-links li.is-dribbble
  color color-dribbble
.footer-links li.is-email
  color color-dark
.footer-links a
  text-decoration none
.footer-updated
  margin-bottom 1em
  color color-xlight
.footer-copy
  col(1/1)
  text-align center
+above(40em)
  .footer-links
    col(1/2)
  .footer-updated
    // col(1/2)
