---
---
@import 'node_modules/nib/index.styl'
@import 'node_modules/jeet/stylus/jeet/index.styl'
@import 'node_modules/rupture/rupture/index.styl'

global-reset()

*
  box-sizing border-box

// @import '_stylus/base'
// @import '_stylus/type'
// @import '_stylus/base'

color-1 = #FE4A43
color-2 = #50E3C2
color-3 = #FDB386
color-4 = #42E9C4
color-5 = #0039FF
color-6 = #9139FF

color-darkest = #333333
color-darker = #444444
color-dark = #555555
color-light = #6E6E6E
color-lighter = #AAAAAA
color-lightest = #D8D8D8
color-white = #FFFFFF

color-bright = #FE6363

color-twitter = #55ACEE
color-github = #F6CBB5
color-dribbble = #E9508A

// font-body = "jaf-facitweb", "San Francisco Text", "Facit", "Verdana", sans-serif
font-body = "San Francisco Text"
font-mono = "Input Mono", "Fira Mono", "Menlo", "Inconsolata", monospace

font-xheavy = 700
font-heavy = 600
font-normal = 400
font-light = 300


html
  -webkit-text-size-adjust 100%

body
  font 1em/1.5 font-body
  background color-white
  color color-light
  +retina()
    font-weight font-light

.container
  max-width 55em
  margin 0 auto

.wrapH
  padding-left 2em
  padding-right @padding-left
  max-width 55em
  margin 0 auto
.wrapV
  padding-top 2em
  padding-bottom @padding-top

img
  max-width 100%

pre
  font-family font-mono

a
  color color-bright
  fill @color
  text-decoration none
  transition-property color, fill, border-color
  transition-duration 200ms
  transition-timing-function ease
  border-bottom 1px solid transparent
a:hover
  border-color color-bright

em
  font-style italic

strong
  font-weight font-heavy
  color color-dark

svg
  width 100%
  height 100%

.header
  cf()
  background darken(color-white, 5%)
  padding-bottom 2em
.headerLogo
  col(1/4)
.headerLogo-link
  position relative
  top 1em
  height 2.5em
  width @height * 1.270833333
  display block

.headerNav
  col(1/4)
.headerNav li
  display block
.headerNav-link
  color color-bright
.headerNav-link.is-active
  font-weight font-heavy
.headerDesc
  col(1/2)
  font-weight font-normal
+below(40em)
  .headerLogo
    span(1/2)
    margin-bottom 1em
  .headerNav
    span(1/2)
    margin-bottom 1em
  .headerNav-link
    display inline-block
    margin-right 0.5em
  .headerDesc
    col(1/1)

// Used on archive
.postList
  cf()
  padding-top 1em
.postList > li
  margin-bottom 3em
  cf()
.postLink
  display inline
.postLink a:hover
  border-color color-white
.postTitle
  font-weight font-heavy
  display inline
.postMeta
  color color-lighter
.postMeta-date
  display inline-block
  font-weight font-light
  color color-lightest
.postMeta-excerpt
  font-weight font-normal
+above(40em)
  .postList
    list-style none
  .postLink
    col(1/2)
    text-align right
  .postMeta
    col(1/2)

// Default index view
.post
  padding-top 2em
  padding-bottom 2em
  margin-bottom 2em
  cf()
.post-header
  // 
.post-title
  font-weight font-xheavy
  color color-dark
  margin-bottom 1em
.post-meta
  color color-lighter
.post-permalink
  display inline-block
  margin-bottom 1em
.post-content
  color color-dark
  clear both
.post-content:after
  content "* * *"
  position relative
  margin 6em auto 1em
  display block
  text-align center
.post-content small
  font-weight font-light
.post-content strong
  font-weight font-normal
  color color-darker
.post-content p
  margin-bottom 1em
.post-content code
  font-family 'Input Mono', 'Cousine', 'Fira Mono', 'Andale Mono', 'Monaco' monospace
  font-size 0.875em
  padding 0.125em 0.2em
  background rgba(color-lighter, 0.2)
  border 1px solid rgba(color-lighter, 0.3)
  border-radius 4px
.post-content h1
  margin-bottom 1em
  padding-bottom 0.25em
  font-weight font-heavy
  color color-darkest
  border-bottom 2px solid color-darkest
.post-content h2
  font-weight font-heavy
  padding-bottom 0.25em
  color color-darker
  border-bottom 1px solid color-darker
  margin-bottom 1em
.post-content h3
  font-weight font-heavy
  padding-bottom 0.25em
  color color-dark
  border-bottom 1px dashed color-dark
  margin-bottom 1em
.post-content h4
  font-weight font-heavy
  padding-bottom 0.25em
  color color-light
  border-bottom 1px dashed color-light
  margin-bottom 1em
.post-content img
  span(1/1)
  margin-bottom 1em
  max-width initial
.post-content aside
  margin-bottom 1em
  font-style italic
  opacity 0.6
.post-content pre
  max-width 100%
  overflow auto
+above(38em)
  .post
    cf()
  .post-header
    col(1/4)
  .post-content
    col(3/4)
  .post-content:after
    content "* * *"
+above(75em)
  .post-content aside
    position absolute
    width 12em
    left -@width

.pagination
  margin 2em 0
  color color-lighter
  text-align center
.pagination a
  // 
.pagination-number
  display inline-block
  margin 0 2em
.pagination-prev
  // float left
.pagination-next
  // float right

.footer
  background darken(color-white, 5%)
  padding-top 2em
  font-size 1em
  cf()
.footer-links
  cf()
  margin-bottom 1em
  list-style square
.footer-links li
  col(1/2, cycle: 2)
.footer-links li:before
  content none 
.footer-links li.is-twitter
  color color-twitter
.footer-links li.is-github
  color color-github
.footer-links li.is-dribbble
  color color-dribbble
.footer-links li.is-email
  color #333
.footer-links a
  text-decoration none
.footer-updated
  margin-bottom 1em
  color color-light
.footer-copy
  col(1/1)
  text-align center
  padding 1em
+above(40em)
  .footer-links
    col(1/2)

// Night mode
html.is-night
  body
    background color-dark
    color color-lighter
  a:hover
    color color-white
    fill @color
    border-color @color
  strong
    color color-white
  .header
    background lighten(color-dark, 10%)
  .footer
    background color-darker
  .post-title
    color color-white
  .post-content
    color color-lighter
  .post-content h1
  .post-content h2
  .post-content h3
  .post-content h4
    color color-lightest
    border-color color-lightest

// Syntax
.CodeRay
  background-color: #152638
  border-radius 5px
  font-family 'Input Mono', 'Cousine', 'Fira Mono', 'Andale Mono', 'Monaco' monospace
  color #F6F7EE
  padding 0.5em
  margin-bottom 1em
  font-size 0.875em

.CodeRay pre
  margin: 0px;

table.CodeRay
  border-collapse: collapse;
  width: 100%;
  padding: 2px
table.CodeRay td
  padding: 1em 0.5em;
  vertical-align: top;

.CodeRay .line-numbers, .CodeRay .no
  // 

.CodeRay .line-numbers a
  color: #858E93;

.CodeRay .line-numbers tt
  font-weight bold
.CodeRay .line-numbers .highlighted
  color red
.CodeRay .line
  display block
  float left
  width 100%
.CodeRay span.line-numbers
  padding 0px 4px
.CodeRay .code
  width 100%

ol.CodeRay
  font-size: 10pt
ol.CodeRay li
  white-space: pre

.CodeRay
  .code pre
    overflow: auto
  .debug
    color:white ! important; background:blue ! important;

  .annotation
    color:#007
  .attribute-name
    color:#3AE729
  .attribute-value
    color:#700
  .binary
    color:#509; font-weight:bold
  .comment 
    color:#998; font-style: italic;
  .char
    color:#04D
  .char .content
    color:#04D
  .char .delimiter
    color:#039
  .class
    color:#458; font-weight:bold
  .complex
    color:#A08; font-weight:bold
  .constant
    color:teal;
  .color
    color:#0A0
  .class-variable
    color:#369
  .decorator
    color:#B0B;
  .definition
    color:#099; font-weight:bold
  .directive
    color:#088; font-weight:bold
  .delimiter
    color:black
  .doc
    color:#970
  .doctype
    color:#34b
  .doc-string
    color:#D42; font-weight:bold
  .escape 
    color:#666; font-weight:bold
  .entity
    color:#800; font-weight:bold
  .error
    color:#F00; background-color:#FAA
  .exception
    color:#C00; font-weight:bold
  .filename
    color:#099;
  .function
    color:#39E029; font-weight:bold
  .global-variable
    color:teal; font-weight:bold
  .hex
    color:#058; font-weight:bold
  .integer 
    color:#A982FF
  .include
    color:#B44; font-weight:bold
  .inline
    color: black
  .inline .inline
    background: #ccc
  .inline .inline .inline
    background: #bbb
  .inline .inline-delimiter
    color: #D14;
  .inline-delimiter
    color: #D14;
  .important
    color:#f00;
  .interpreted
    color:#B2B; font-weight:bold
  .instance-variable
    color:teal
  .label
    color:#970; font-weight:bold
  .local-variable
    color:#963
  .octal
    color:#40E; font-weight:bold
  .operator

  .predefined-constant
     font-weight:bold
  .predefined
    color:#369; font-weight:bold
  .preprocessor
    color:#579;
  .pseudo-class
    color:#00C; font-weight:bold
  .predefined-type
    color:#074; font-weight:bold
  .reserved, .keyword 
    color:#FB4248;

  .key
    color: #F6F7EE;
  .key .delimiter
    color: #606;
  .key .char
    color: #80f;
  .value
    color: #FB4248;

  .regexp
    background-color:#fff0ff
  .regexp .content
    color:#808
  .regexp .delimiter
    color:#404
  .regexp .modifier
    color:#C2C
  .regexp .function 
    color:#404; font-weight: bold

  .string
    color: #FDDB5B;
  .string .content
    color: #FDDB5B;
  .string .char
    color: #D14;
  .string .delimiter
    color: #F6F7EE;

  .shell
    color:#D14
  .shell .content

  .shell .delimiter
    color:#D14

  .symbol
    color:#990073
  .symbol .content
    color:#A60
  .symbol .delimiter
    color:#630

  .tag
    color:#FC4349
  .tag-special
    color:#D70; font-weight:bold
  .type
    color:#339; font-weight:bold
  .variable 
    color:#036

  .insert
    background: #afa;
  .delete
    background: #faa;
  .change
    color: #aaf; background: #007;
  .head
    color: #f8f; background: #505

  .insert .insert
    color: #080; font-weight:bold
  .delete .delete
    color: #800; font-weight:bold
  .change .change
    color: #66f;
  .head .head
    color: #f4f;

.u-mtm
  margin-bottom 1em
