{
  "presets": [
    "next/babel",
    "env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components"
        },
        "root": ["./"],
      },
    ]
  ]
}
