<footer class="footer">
  
  <div class="wrapH">

    <ul class="footer-links">
      <li class="is-twitter">
        <a href="https://twitter.com/_iest">Twitter</a>
      </li>
      <li class="is-github">
        <a href="https://github.com/iest">Github</a>
      </li>
      <li class="is-dribbble">
        <a href="https://dribbble.com/iest">Dribbble</a>
      </li>
      <li class="is-email">
        <a href="mailto:hello@iest.co">hello@iest.co</a>
      </li>
    </ul>

    <p class="footer-updated">
      &copy; {{site.time | date: "%Y"}} <br>
      Last update: {{site.time | date: "%A %B %-d, %Y at %I:%M %p"}}
    </p>

  </div>

</footer>
