<header class="header">

  <div class="wrapH wrapV">
    <div class="headerLogo">
      <a class="headerLogo-link" href="{{ site.baseurl }}/">
        <svg viewBox="0 0 320 272">
          <path d="M19.4077131,12.2128686 L64.1265097,127.206728 L45.228532,177.100295 L1.83320026e-12,63.6313252 L19.4077131,12.2128686 L19.4077131,12.2128686 L19.4077131,12.2128686 Z M82.630088,174.788462 L82.6753948,174.904967 L148.923417,0 L212.332238,174.904967 L279.684394,11.84993 L319.590941,11.84993 L210.754904,271.284398 L148.13475,98.4334188 L82.8331282,271.442397 L63.9908285,224.170991 L82.630088,174.788462 L82.630088,174.788462 Z"></path>
        </svg>
      </a>
    </div>

    <nav class="headerNav">
      <ul>
      {% if page.url == "/about/" %}
        <li><a class="headerNav-link" href="/">Journal</a></li>
        <li><a class="headerNav-link" href="/archive">Archive</a></li>
        <li><a class="headerNav-link is-active" href="/about">About</a></li>
      {% elsif page.url == "/archive/index.html" %}
        <li><a class="headerNav-link" href="/">Journal</a></li>
        <li><a class="headerNav-link is-active" href="/archive">Archive</a></li>
        <li><a class="headerNav-link" href="/about">About</a></li>
      {% else %}
        <li><a class="headerNav-link is-active" href="/">Journal</a></li>
        <li><a class="headerNav-link" href="/archive">Archive</a></li>
        <li><a class="headerNav-link" href="/about">About</a></li>
      {% endif %}
      </ul>
    </nav>

    <h1 class="headerDesc">{{site.description}}</h1>
  </div>

</header>
