@import '../css/globals.css';
:root {
  --height: 3rem;
}

.body {
  padding-bottom: var(--height);
}

.footer {
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  width: calc(100% - 0.5em);
  height: var(--height);
  background: var(--bgDark);
  color: var(--secondary);
}
