@import '../css/globals.css';
@import '../css/zindex.css';

.nav {
  position: relative;
}
.inner {
  padding: 1.8em 2.1em;
  z-index: var(--z-navBar);
  position: relative;
  display: flex;
  justify-content: space-between;
}
.open {

}

.logo {
  color: var(--primary);
  display: inline-block;
  font-size: 2.2em;
}

.toggle {
  appearance: none;
  background: none;
  border: none;
  line-height: 0;
  padding: 0.25em;
  margin: 0;
  font-size: 2em;
}
.toggle:focus {
  outline: none;
}
.toggleInner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.25em;
  height: 1em;
}
.open .toggle {
  background: var(--primary);
}

.items {
  display: flex;
  flex-direction: column;
  align-content: center;
  transform-origin: right top;
  max-width: 10em;
  position: absolute;
  right: 1.9em;
  top: 5.1em;
  width: 100%;
  z-index: var(--z-navItems);
}
.item {
  background: var(--primary);
  color: var(--bg);
  text-decoration: none;
  padding: 1.25em 1.5em;
  border-bottom: 1px solid var(--bgFaded);
  font-weight: bold;
  text-transform: uppercase;
}
.itemActive {
  background: var(--secondary);
  color: var(--fg);
}
