@import '../css/globals.css';

.list {
  list-style: none;
  margin: 0;
}

.year {

}

.year h3 {}
.year a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.year time {
  display: inline-block;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1em;
  text-align: right;
  min-width: 4em;
}
