@import '../css/globals.css';

.list {
  list-style: none;
  margin: 0;
}

.year {

}

.year h3 {
  color: var(--bgDark);
}
.year a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.year a:hover {
  color: var(--secondary);
}
.year time {
  display: inline-block;
  color: var(--alpha);
  font-weight: bold;
  margin-left: 0.5em;
  text-align: right;
  min-width: 4em;
}
