.body {
  padding-bottom: calc(6.5625em + (var(--y) * 5));
}
.root {
  background: color(var(--bg) l(-5%));
  color: var(--blue);
  width: 100%;
  position: absolute;
  bottom: 0;
  lost-utility: clearfix;
  padding-top: var(--y);
}

.root ul {
  list-style: none;
  margin: 0;
  padding: 0 0 var(--y);
  text-align: center;
  lost-center: 20em 0 flex;
}
.root li {
  display: inline-block;
  lost-column: 1/4 0 flex;
}
.root a {
  text-decoration: none;
  color: var(--white);
  text-align: center;
  font-size: 2em;
  display: block;
}

.github:hover {
  color: rgb(210, 105, 18);
}
.twitter:hover {
  color: rgb(85, 172, 238);
}
.instagram:hover {
  color: rgb(0, 72, 122);
}
.dribbble:hover {
  color: rgb(235, 77, 138);
}

.colophon {
  text-align: center;
  display: block;
  margin-bottom: var(--y);
  color: color(var(--bg) l(+10%));
}
