@import 'normalize.css/normalize.css';

.body {
  background: var(--bg);
  color: var(--fg);
  font-family: "jaf-facitweb";
  position: relative;
  min-height: 100%;
}
:global html {
  position: relative;
  height: 100%;
}
:global * {
  box-sizing: border-box;
}
