.root {
  background: linear-gradient(150deg, var(--green) 0%, var(--yellow) 100%);
  lost-utility: clearfix;
  color: var(--black);
  font-size: 1.8em;
  padding: 0 var(--a);
}

.logo {
  padding: 0.75rem 0;
  color: var(--magenta);
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  float: right
}
.nav li {
  line-height: 0;
  display: inline-block;
}
.nav a {
  display: block;
  text-align: center;
  color: currentColor;
  text-decoration: none;
  padding: 0.75rem 0.75rem;
}
.nav a.active {
  color: var(--magenta);
  box-shadow: inset 0 4px 0 0 var(--magenta);
}

.label {
  font-size: 1rem;
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 29rem) {
  .label {
    display: none;
  }
}
